// app global css in SCSS form
body {
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(17, 45, 103, 0.9668461134453782) 39%
  );
}
.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  // background: radial-gradient(#eee, #fff);
  padding: 20px 0;
  margin-top: 64px;
}
.tableContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  /* background: #eee; */
  margin-top: 20px;
}
.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}
.header {
  text-align: center;
  color: rgba(238, 238, 238, 0.865);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 31px;
  font-weight: 700;
}
.bio {
  text-align: center;
  color: rgb(224, 215, 215);
  margin-top: 16px;
  background:rgba(53, 26, 26, 0.258);
  border-radius: 10px;
  font-size: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.bio-main {
  text-align: center;
  text-decoration: underline;
  color: rgb(224, 215, 215);
  margin-top: 16px;
  font-weight: 600;
  font-size: 16px;
  text-shadow: black -0.3px 0, #ff6d00 0.3px 0;
}
.sendBtn {
  cursor: pointer;
  margin-top: 16px;
  /* padding: 8px; */
  border: 1px solid gray;
  /* border-radius: 5px; */
  background: rgba(126, 117, 151, 0.253);
  font-weight: bold;
  text-align: center;
}
.connectBtn {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  background: #ff6d00;
  font-weight: bold;
  font-size: 16px;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px 50px;
  color:rgb(224, 215, 215);
  text-align: center;
}
.wave {
  font-size: 25px;
}
.textarea {
  background: rgba(221, 221, 221, 0.658);
}
.my-card {
  width: 100%;
  max-width: 250px;
}
